
<fieldset>
    <legend>Edit Review</legend>
    <!-- TITLE -->
    <div class="form-group">
        <label for="review-title">Title</label><br>
        <input class="form-control" id="review-title" type="text" name="title" value="{{review.title}}"/>
    </div>

    <!-- MOVIE TITLE -->
    <div class="form-group">
        <label for="movie-title">Movie Title</label><br>
        <input class="form-control" id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
        <label for="review-description">Description</label><br>
        <textarea class="form-control" id="review-description" name="description" rows="10" />{{review.description}}</textarea>
    </div>

    <!-- RATING -->
    <p>
        <label for="rating">Rate on scale of 1 - 5</label><br>
        <select class="form-control" name="rating" for="rating">Rating
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select>
    </p>
